/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/common/styles/layout.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.layout_wrapper__UQpt6 {
  font-size: inherit;
}
.layout_wrapper--layout__bRKZS {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout_app__annoucement__TcLTJ {
  padding: 4px 20px;
  font-size: 12px;
  text-align: center;
  width: 100%;
}
.layout_app__annoucement--warning__8zsiS {
  background: #fff3cd;
  color: #856404;
}
.layout_app__annoucement--danger__E4q_s {
  color: #721c24;
  background: #f8d7da;
}

.layout_header--layout__kgaOA {
  top: 0;
  padding: 0px;
  box-shadow: 0 0.125rem 0.125rem -0.0625rem rgba(0, 0, 0, 0.149);
  justify-content: flex-start;
  z-index: 999;
  height: var(--default-header-height);
}
.layout_header--light__4Dpn9 {
  background-color: white;
}
.layout_header--exist-annoucement__bd9fD {
  height: calc(var(--default-header-height) + var(--annountcement-height));
}
.layout_header__item__X0HLX {
  height: var(--default-header-height);
  display: flex;
}
.layout_header__item--hover__6oFUb:hover {
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.1);
}
.layout_header__search-icon__mLjWx {
  position: absolute;
  left: 20px;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
}
.layout_header__input-search__mAOZx {
  width: 300px;
  height: calc(1.5em + 0.75rem + 2px);
  border-radius: 15px;
  background: #EFF2F5 !important;
  font-size: 15px;
  font-weight: 300;
  padding-left: 40px;
  box-shadow: none !important;
  border: none;
}
@media only screen and (max-width: 768px) {
  .layout_header__item__X0HLX {
    display: none;
  }
}

.layout_main-wrapper___x_6R {
  display: flex;
  flex-wrap: nowrap;
}
.layout_main-wrapper___x_6R .layout_page__URBLC {
  flex: 1 1;
  padding-left: var(--sidebar-min-max-width);
  padding-bottom: 80px;
}

.layout_content-page__tuVm4 {
  padding: 20px;
  margin: 0px;
}
.layout_content-page--small__vT7Ho {
  padding: 0px;
  margin: 0px;
}
.layout_content-page--medium__GhjUz {
  padding: 10px;
}
.layout_content-page--large__L7abZ {
  padding: 20px;
}
.layout_content-page__tuVm4 .layout_header-content__RzlVy {
  margin-bottom: 20px;
}
.layout_content-page__tuVm4 .layout_description-text__kkKVu {
  color: var(--neutral-600);
  font-size: 14px;
  line-height: 20px;
  max-width: 800px;
  margin-top: 15px;
  display: block;
}

.layout_article-popover-profile__9QaEg {
  min-width: 150px;
}
.layout_article-popover-profile__9QaEg li {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}
.layout_article-popover-profile__9QaEg li:hover {
  background: rgba(0, 0, 0, 0.1);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/uikit/table/style.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.style_uikit-table__1lN14 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(172, 181, 185, 0.16);
  border-radius: 8px;
  background: #fff;
}
.style_uikit-table__1lN14 tr > th, .style_uikit-table__1lN14 tr > td {
  background: #fff !important;
}
.style_uikit-table__1lN14 tr > th::before, .style_uikit-table__1lN14 tr > td::before {
  display: none;
}
.style_uikit-table__body__w_E1u {
  padding: 5px;
}
.style_uikit-table__tabs__9pCHY {
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--color-border-1);
  font-size: 15px;
}
.style_uikit-table__tabs__item__RPlrV {
  border-bottom: 2px solid transparent;
  padding: 12px 20px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0.7;
}
.style_uikit-table__tabs__item--active__zeBg4 {
  border-color: var(--purple-600);
  font-weight: 600;
  opacity: 1;
  color: var(--purple-600);
}
.style_uikit-table__tabs__item__RPlrV:hover {
  border-color: var(--purple-600);
}
